@charset "UTF-8";
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

li, a {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-nav__item, .header-nav__adr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__button, .form__checkbox > label, .modal__button-closed, .section-client__icon, .block-socials__icon, .section-benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-client__title, .section-teem__title, .section-caption__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

/* Logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo-span {
  color: #2196F3;
}

header {
  background-color: #FFFFFF;
}

/* Site nav */
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  margin-right: 318px;
}
.header-nav__pagination .header-nav__item + .header-nav__item {
  margin-left: 50px;
}
.header-nav__pagination .header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__pagination .header-nav--open {
  color: #2196F3;
}
.header-nav--open::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background: #2196F3;
  border-radius: 2px;
}

.header-nav__link {
  position: relative;
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196F3;
}

/* Контакти */
.header-nav__adr li + li {
  margin-left: 30px;
}

.header-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #757575;
  fill: #757575;
  text-decoration: none;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.header-nav__icon {
  margin-right: 10px;
}

.header-nav--line {
  border: 1px solid #ECECEC;
}

/* Головний банер */
.section-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
  background-color: #2F303A;
}

.section-hero--center {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.section-hero--center > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-hero__title {
  margin-bottom: 30px;
}

.section-hero__button {
  cursor: pointer;
  min-width: 216px;
  height: 50px;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero__button:hover, .section-hero__button:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секція - Головні переваги */
.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-benefits__list > .section-benefits__item {
  width: 270px;
}
.section-benefits__list .section-benefits__item + .section-benefits__item {
  margin-left: 30px;
}

.section-benefits__img {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-benefits__text {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

/* Секція - Чим ми займаємося */
.section-caption {
  padding-bottom: 94px;
}
.section-caption--overlay {
  position: absolute;
  left: 50%;
  bottom: 27px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-caption__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-caption__img .section-caption__item + .section-caption__item {
  margin-left: 30px;
}

.section-caption__box {
  position: relative;
}
.section-caption__box::before {
  position: absolute;
  width: 100%;
  height: 70px;
  content: "";
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.section-teem {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-teem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 0;
  margin-left: 0;
}
.section-teem__list .section-teem__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-teem__blok {
  margin-bottom: 30px;
  margin-top: 30px;
}

.section-teem__lead {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.section-teem__post {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* БЛОК соц. мереж*/
.block-socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 32px;
}
.block-socials .block-socials__icon + .block-socials__icon {
  margin-left: 10px;
}

.block-socials__icon {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-socials__icon:hover, .block-socials__icon:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

/* Постійні клієнти */
.section-client {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-client > .container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-client__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.section-client__logo li + li {
  margin-left: 30px;
}

.section-client__icon {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-client__icon:hover, .section-client__icon:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item--white {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 231px;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover, .footer__item:focus {
  color: #2196F3;
}

.footer__list li + li {
  margin-top: 9px;
}

.foot-web {
  color: #FFFFFF;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__blok {
  margin-left: 70px;
  margin-top: 12px;
}
.footer__blok > p {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: #FFFFFF;
}
.footer__blok > .block-socials {
  margin-left: 0;
}
.footer__blok > .block-socials > .block-socials__icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__blok > .block-socials > .block-socials__icon:hover, .footer__blok > .block-socials > .block-socials__icon:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.footer__list {
  margin-top: 20px;
}

/* підпишись на розсилку */
.subscription {
  display: block;
  margin-left: 93px;
  margin-top: 12px;
}

.subscription > label {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: #FFFFFF;
}

.subscription__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__form {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  margin-top: 20px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__button {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-top: 20px;
  padding-left: 28px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: start;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.subscription__button:hover, .subscription__button:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscription__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  margin-right: 28px;
  margin-top: 12px;
  fill: #FFFFFF;
}

/* ----------------------Модальне вікно-------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* кнопка закрити модальне вікно */
.modal__button-closed {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__button-closed:focus, .modal__button-closed:hover {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-closed > svg {
  height: 11px;
}

/* --------Форма: Залиште свої дані ------------*/
.form {
  width: 448px;
  margin: 40px;
}
.form a {
  text-decoration: none;
}

.form__field, .form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__field input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  margin-bottom: 4px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__icon {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__icon input {
  width: 448px;
}
.form__icon svg {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  margin-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus-visible, textarea:focus-visible {
  outline: 1px solid #2196F3;
  border-radius: 3px;
}

.form-subscription:focus-visible {
  color: rgba(255, 255, 255, 0.6);
}

/* ховаемо чекбокс */
.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
  border-bottom: 1px solid rgb(33, 150, 243);
}

.form__checkbox-icon {
  display: inline-block;
  position: relative;
  height: 15px;
  width: 16px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
  margin-right: 7px;
  margin-left: 12px;
}

.form__checkbox-thumb {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-origin: border-box;
  z-index: 0;
}

.form__checkbox:checked + .form__checkbox-icon {
  background: #2196F3;
  border-color: #2196F3;
  background-origin: border-box;
  z-index: 1;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus input, .form__field:hover input,
.form__field:active input, .form__field:hover svg,
.form__comment:focus textarea, .form__comment:hover textarea {
  border-color: rgb(33, 150, 243);
  fill: #2196F3;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button--submit {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form__button--submit:focus, .form__button--submit:hover {
  background: #188CE8;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------main portfolio-------- */
.section-portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.section-portfolio__button-list li + li {
  margin-left: 8px;
}

.section-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-portfolio__list .section-portfolio__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.section-portfolio__list .section-portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.section-portfolio__list .section-portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.section-portfolio__list .section-portfolio__item:hover, .section-portfolio__list .section-portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-portfolio__list .section-portfolio__item:hover .section-portfolio--overlay,
.section-portfolio__list .section-portfolio__item:hover .section-portfolio__box::before, .section-portfolio__list .section-portfolio__item:focus .section-portfolio--overlay,
.section-portfolio__list .section-portfolio__item:focus .section-portfolio__box::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #FFFFFF;
}
.section-portfolio a {
  text-decoration: none;
}
.section-portfolio--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(33, 150, 243);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio--overlay > p {
  width: 322px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section-portfolio__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-portfolio__list > li > .section-portfolio__item:hover .section-portfolio__list > li > .section-portfolio__item:focus {
  cursor: pointer;
}

.section-portfolio__quote {
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}

.section-portfolio__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* Позиційні елементи */
.section-portfolio__box {
  position: relative;
  overflow: hidden;
}

/* Кнопки на сторінці Портфоліо */
.section-portfolio__button {
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border: none;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__button:hover, .section-portfolio__button:focus {
  background: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-portfolio__button--1 {
  padding: 6px 25px;
}
.section-portfolio__button--2 {
  padding: 6px 22px;
}
.section-portfolio__button--3 {
  padding: 6px 22px;
}
.section-portfolio__button--4 {
  padding: 6px 22px;
}
.section-portfolio__button --5 {
  padding: 6px 22px;
}/*# sourceMappingURL=main.css.map */