/* БЛОК соц. мереж*/

.block-socials{
    display: inline-flex;
    margin-left: 32px;

    .block-socials__icon +.block-socials__icon{
        margin-left: 10px
      }
}

  .block-socials__icon{
    @extend %flex-center;
    height: 44px;
    width: 44px;
    border-radius:22px;
    background-color: $second-text-color;
    fill: $icon-background-1;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        background-color: $accent-color;
        fill: $second-text-color;
      }
  }
