 /* підпишись на розсилку */
 .subscription{
    display: block ;
    margin-left: 93px;
    margin-top: 12px;
    
  }

  .subscription > label {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    color: $second-text-color;
    }
  
  .subscription__blok{
    display: flex;
  }
  
  .subscription__form{
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
    margin-top: 20px;
  
    background-color: $second-background;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  
  

  