  /* Logo */
  .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: $logo-text-black;
    text-decoration: none;
 

  &-span {
    color: $accent-color;
  }
}