.form__button{
    @extend %flex-center;    
  }

.form__button--submit{
    
    cursor: pointer;
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    text-align: center;
  
    letter-spacing: 0.06em;
  
    color: $second-text-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:focus, &:hover{
        background: $button-background;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
  }
