%inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%section-title{
    margin-bottom: 50px;

    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}