$logo-text-black: #000000;
$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196F3;
$primary-background: #F5F5F5;
$second-background: #2F303A;
$third-background:#F5F4FA;
$second-text-color: #FFFFFF;
$button-background: #188CE8;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-background: rgba(47, 48, 58, 1);
$hero-background: rgba(47, 48, 58, 0.4);
$icon-background-1: #AFB1B8;
$icon-bacckground-2: rgba(255, 255, 255, 0.1);
$border: #ECECEC;
$border-portfolio: #EEEEEE;
$backdrop-background: rgba(0, 0, 0, 0.2);
$cap-box-before: rgba(47, 48, 58, 0.8);
$text-form-placeholder: rgba(117, 117, 117, 0.5);
$form-second-color: rgba(33, 150, 243, 1);